<% provide(:class_text, 'blog--edit') %>
<% provide(:button_text, '編集する') %>
<div class="blog-title">
  <h1><%= @staff.name%>のブログ編集</h1><br>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
    <%= link_to "戻る", :back, class: "btn btn-outline-secondary btn-resize blog-return" %>
  </div>
</div>
