<% provide(:class_text, 'staffblog--new') %>
<% provide(:button_text, '作成する') %>

<h1>スタッフブログ作成</h1><br>

<div class="row">
  <div class="col-md-6 offset-md-3">
      <%= render 'form' %>
  </div>
</div>
