<% provide(:class_text, 'staffblog--new') %>
<% provide(:button_text, '作成する') %>
<div class="blog-title">
  <h1>スタッフブログ作成</h1><br>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
    <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-outline-secondary btn-resize blog-return" %>
  </div>
</div>
