<% provide(:class_text, 'student--edit') %>
<% provide(:button_text, '編集') %>
<div class="container col-10 col-md-10 col-lg-6">
  <div class="student--title">
    <h1>アカウント情報の更新</h1>
    <%= render 'admins/form' %>
  </div>
  <br>
  <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-outline-secondary btn-resize" %>
</div>