<div class="container col-10 col-md-10 col-lg-10 student-top">
  <%= render 'layouts/flash_messages' %>
  <h1>セラピスト養成コース</h1>
</div>
<div class="image-top">
  <%= image_tag "therapist_training.jpg" %>
</div>
