<div class="student_sidebar">
  <ul>
    <li>スタッフブログ</li>
    <li>イベント/セミナー</li>
    <li>せらぽけ</li>
  </ul>
</div>

<div class="container col-10 col-md-10 col-lg-10">
  <h1>セラピスト養成コース</h1>
  <%= @student.name %> 様<br>
  <%= @student.course_type %>
</div>  