<h1>スタッフ画面</h1>

<ul class="list-group-flush">
  <li class="list-group-item">
    <%= link_to 'スタッフブログ投稿', staff_blogs_path %>
  </li>
  <li class="list-group-item">
    <%= link_to '開講スケジュール投稿', start_schedules_path %>
  </li>
</ul>
