<div class="staffs_screen--title">
<%= render 'layouts/flash_messages' %>
  <h1>スタッフ画面</h1>
</div>

<ul class="list-group-flush">
  <li class="staff_screen--list">
    <%= link_to 'スタッフブログ投稿', staff_blogs_path(@staff), class: "btn btn-info btn-lg" %>
  </li>
  <li class="staff_screen--list">
    <%= link_to 'イベント・講座投稿', schedules_path, class: "btn btn-info btn-lg" %>
  </li>
</ul>
