/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

@import "bootstrap";

// max-width

.mw-md {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ナビゲーションバー
a.navbar-brand {
  font-family: serif;
  font-size: 30px;
  font-weight: 500;
}
.navbar-nav img {
  width: 50px;
  height: 50px;
  //サイズ指定
  border-radius: 100px;
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}
.eartherage_logo {
  margin-right: 10px;
}



 /* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//スマホ用
@media screen and (max-width:480px) {

// ナビゲーションバー
a.navbar-brand {
  font-size: 20px;
  font-weight: 500;
}
.navbar-nav img {
  width: 35px;
  height: 35px;
}
.eartherage_logo {
  margin-right: 0;
}
  
}
