//main div {
//  margin: 0; /* 要素の外側の余白を0に定義 */
//  padding: 0; /* 要素の内側の余白を0に定義 */
//}
.pyramid_parent_1 {
  //border :solid;         /* 子要素を左右中央揃えにする */
}

.pyramid_box_1 {
    //border: solid;
    //border-color: red;
    height: 200px;
    width: 200px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    background-color:  #eee;    /* 背景色指定 */
    padding-top: 50px;
    margin-left: 100px;
    margin-bottom: 5px;         /* 要素同士の隙間調整 */
    padding: 38px 30px 30px 30px;              /* 余白指定 */
    //padding-top: 100px;
    box-sizing: border-box;     /* 崩れ防止 */
    vertical-align:  top;
}

.pyramid_box_2 {
    height: 200px;
    width: 700px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    background-color:  #eee;    /* 背景色指定 */
    margin-bottom: 5px;         /* 要素同士の隙間調整 */
    padding: 30px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    vertical-align:  top;
}

.pyramid_parent_2 {
  border: solid;
  border-color: yellow;
}

.pyramid_box_3 {
    height: 50px;
    width: 200px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    background-color:  #00e;    /* 背景色指定 */
    margin-top: 30px;
    //margin-left: 100px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    //vertical-align:  top;
}
.pyramid_box_4 {
    height: 50px;
    width: 200px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    background-color:  #e00;    /* 背景色指定 */
    margin-top: 30px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    //vertical-align:  top;
}

.pyramid_parent_3 {

}

.pyramid_box_5 {
  height: 20px;
  width: 60px;
  display: inline-block;
  background-color: #050;
  margin-top: 10px;
  margin-left: 500px;
  box-sizing: border-box;
}

.pyramid_box_6 {
  height: 20px;
  width: 60px;
  display: inline-block;
  background-color: #390;
  margin-top: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}


.blog_title {
  font-size: x-large;
}

//スマホ用
@media screen and (max-width:480px) {

  .blog--title h1 {
    font-size : 20px;
  }

  .pyramid_box_1 {
    //border: solid;
    //border-color: red;
    height: 100px;
    width: 100px;               /* 幅指定 */
    padding-top: 50px;
    margin-top: 2px;          /* 要素同士の隙間調整 */
    margin-left: -12px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;              /* 余白指定 */
  }

  .pyramid_box_2 {
    height: 100px;
    width: 209px;    /* 幅指定 */
    margin-top: 2px;
    margin-left: -12px;         /* 要素同士の隙間調整 */
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;              /* 余白指定 */
  }

  .blog_title {
    margin-top: 10px;
    font-size: small;
  }

  .pyramid_box_3 {
    //border: solid;
    //border-color: red;
    height: 30px;
    width: 95px;               /* 幅指定 */
    margin-top: 10px;
    font-size: 5px;
    //margin-left: 100px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 * /
    vertical-align:  top;
  }
  .pyramid_box_4 {
    //border: solid;
    //border-color: blue;
    height: 30px;
    width: 95px;               /* 幅指定 */
    margin-top: 10px;
    font-size: 10px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    vertical-align:  top;
  }

  .pyramid_parent_3 {
    //border: solid;
    //border-color: green;
    height: 28px;
  }

  .pyramid_box_5 {
    //border: solid;
    //border-color: red;
    height: 25px;
    width: 40px;
    margin: 0px 0px 0px 124px;
    //font-size: 10px;
    background-color: yellow;
  }

  .pyramid_box_6 {
    //border: solid;
    //border-color: blue;
    height: 25px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    //font-size: 5px;
    background-color: yellow;
  }


  a.btn.btn-primary.btn-sm.font-edit {
    height: 25px;
    width: 40px;
    font-size: 5px;
    margin: 0px 0px 0px 0px;
    text-align: top;
  }

  a.btn.btn-danger.btn-sm.font-delete {
    height: 25px;
    width: 40px;
    font-size: 5px;
    margin: 0px 0px 0px 0px;
    text-align: top;
  }

}
