//main div {
//  margin: 0; /* 要素の外側の余白を0に定義 */
//  padding: 0; /* 要素の内側の余白を0に定義 */
//}

.new_blog {
  margin-left: 105px;
}

// .pyramid_parent_1 {
//   //border :solid;         /* 子要素を左右中央揃えにする */
// }

.pyramid_box_1 {
    //border: solid;
    //border-color: red;
    height: 200px;
    width: 200px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    // background-color:  #fff;    /* 背景色指定 */
    //padding-top: 50px;
    margin-left: 100px;
    margin-bottom: 5px;         /* 要素同士の隙間調整 */
    padding: 5px 5px 5px 5px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    vertical-align: top;
    text-align: center;
}

.pyramid_box_1 img{
  width :100%;
}

.pyramid_box_2 {
    //border: solid;
    //border-color: blue;
    height: 190px;
    width: 690px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    background-color:  #f8f8f8;    /* 背景色指定 */
    margin-top: 5px;
    margin-bottom: 5px;         /* 要素同士の隙間調整 */
    padding: 30px;    /* 余白指定 */
    //padding-top: 10px;
    box-sizing: border-box;     /* 崩れ防止 */
    vertical-align:  top;
}

.blog_title {
  //border: solid;
  //border-color: red;
  width: 500px;
  display: inline-block;
  vertical-align: top;
  height: 80px;
  font-size: large;
  word-break: break-word;
  margin-top:-5px;
}

.publication_status{
  display: inline-block;
  //vertical-align: top;
  width: 90px;
  height: 80px;
  //border: solid;
  //border-color: red;
  margin-left: 10px;
  }


.pyramid_parent_2 {
  //border: solid;
  //border-color: yellow;
  height: 25px;
  color: #707070;
  //color: #6f6f6f;
}

.pyramid_box_3 {
    height: 25px;
    width: 200px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    //background-color:  #00e;    /* 背景色指定 */
    margin-top: 0px;
    //margin-left: 100px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    //vertical-align:  top;
}
.pyramid_box_4 {
    height: 25px;
    width: 400px;               /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    //background-color:  #e00;    /* 背景色指定 */
    margin-top: 0px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
    //vertical-align:  top;
}

// .pyramid_parent_3 {

// }

.pyramid_box_5 {
  height: 20px;
  width: 60px;
  display: inline-block;
  //background-color: #050;
  margin-top: 13px;
  margin-left: 490px;
  box-sizing: border-box;
}

.pyramid_box_6 {
  height: 20px;
  width: 60px;
  display: inline-block;
  //background-color: #390;
  margin-top: 10px;
  margin-left: 5px;
  box-sizing: border-box;
}

.blog-return {
  margin-top: 10px;
}

.blog-index-return {
  margin-left: 105px;
}

//スマホ用
@media screen and (max-width:480px) {

  .new_blog {
    margin-left: -12px;
  }

  .blog-index {
    width: 85%;
    margin: 0 auto;
  }

  /* ブログ詳細画面　*/
  .blog-show img {
    max-width: 100%;
  }

  /* ブログ詳細画面 動画幅　*/
 .blog-show iframe {
  max-width: 100%;
}

  

  // a.btn.btn-info.btn-sm.font-new {
  //   height: 25px;
  //   width: 60px;
  //   font-size: 5px;
  //   margin: 0px 0px 0px 0px;
  //   text-align: top;
  // }

  .pyramid_parent_1 {
    width: 350px;
  }



  .blog-title h1 {
    font-size : 20px;
  }

  .pyramid_box_1 {
    //border: solid;
    //border-color: red;
    height: 100px;
    width: 100px;               /* 幅指定 */
    padding-top: 50px;
    margin-top: 2px;          /* 要素同士の隙間調整 */
    margin-left: -12px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;              /* 余白指定 */
  }

  .pyramid_box_2 {
    height: 100px;
    width: 230px;    /* 幅指定 */
    margin-top: 2px;
    margin-left: -12px;         /* 要素同士の隙間調整 */
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;              /* 余白指定 */
  }

  .blog_title {
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
  }

  .pyramid_parent_2 {
    margin-left: 10px;
  }


  .blog_title_name h3{
    width: 290px;
    font-size: 25px;
  }

  .pyramid_box_3 {
    //border: solid;
    //border-color: red;
    height: 30px;
    width: 95px;               /* 幅指定 */
    margin-top: 10px;
    font-size: 10px;
    //margin-left: 100px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 * /
    vertical-align:  top;
  }
  .pyramid_box_4 {
    //border: solid;
    //border-color: blue;
    height: 30px;
    width: 95px;               /* 幅指定 */
    margin-top: 10px;
    font-size: 11px;
    //margin-bottom: 5px;         /* 要素同士の隙間調整 */
    //padding: 30px;              /* 余白指定 */
    vertical-align:  top;
  }

  .pyramid_parent_3 {
    //border: solid;
    //border-color: green;
    height: 28px;
  }

  .pyramid_box_5 {
    //border: solid;
    //border-color: red;
    height: 10px;
    width: 40px;
    margin: 0px 0px 0px 124px;
    //font-size: 10px;
    //background-color: yellow;
  }

  .pyramid_box_6 {
    //border: solid;
    //border-color: blue;
    height: 10px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    //font-size: 5px;
    //background-color: yellow;
  }

  .pyramid_parent_3 .a {
    margin-right: 5px;
  }


  a.btn.btn-primary.btn-sm.font-edit {
    height: 25px;
    width: 40px;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    // text-align: top;
  }

  a.btn.btn-danger.btn-sm.font-delete {
    height: 25px;
    width: 40px;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    // text-align: top;
  }

  .blog-index-return {
    margin-left: -12px;
    margin-top: 5px;
  }

  //.blog-form {
  //  font-size: 10px;
  //}

  .btn--resize {
    font-size: 13px;
  }


}
