// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* スケジュール一覧 */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* スケジュール一覧 */
// #index-schedule {
//   th {
//     vertical-align: middle;
//     text-align: center;
//   }
//   td {
//     vertical-align: middle;
//     text-align: center;
//   }
// }

.contents-wrap{
  // display: -webkit-box;
	// display: -ms-flexbox;
	display: flex; /* 横並びにする */
  flex-wrap: wrap; /* 折り返し表示 */
  // justify-content: space-between;
  text-align: center;
}

.contents-box{
  margin-bottom: 2rem;
	padding: 2rem;
  flex-basis: 32%;
	// width: 32%;
	background-color: #dae0e5;
  margin-right: 1%;
}

.contents-box-opacity{
  margin-bottom: 2rem;
	padding: 2rem;
  flex-basis: 32%;
	background-color: #f0f0f0;
  margin-right: 1%;
  opacity: 0.4;
}

// .contents-box:not(:nth-child(3n)){
//   margin-right: 2%;
// }


.thumbnail{
  position: relative;
}

.thumbnail p{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: red;
  font-weight: bold;
  font-size: 3em;
  font-family :Quicksand, sans-serif;
}

.thumb-image-cancel{
  pointer-events: none;
  opacity: 0.4;
}


// .contents-box .thumb-image{
//   display: block;
// 	// margin-bottom: 3rem;
// 	width: 100%;
// 	height: auto;
//   // align-items: flex-start;
// }

.seach-forms .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-schedule-new .btn {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px){
	.contents-wrap {
		flex-direction: column;
	}

	.contents-box {
		width: 100%;
	}

  .seach-forms {
    display: inline;
  }

/* スケジュール詳細画面　*/
.schedule-show img {
  max-width: 100%;
}

}

/* スケジュール作成フォーム */
.label-schedule-new{
  margin-top: 10px;
}

/* ラジオボタン（丸）の非表示 */
.radio_view{
  // appearance: none;
  display: none;
  position: absolute;
}

