// Place all the styles related to the therapist_training_course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.student_sidebar {
  background-color: #ff9efa;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: -1;
}

.student_sidebar ul {
  line-height: 200%;
  list-style: none;
  padding: 100px 20px 0 20px;
}

.student_sidebar a {
  color: black;
  font-weight: 600;
}

.image-top img {
  margin-top: 10px;
  margin-left: -250px;
}

.students-info {
  text-align: center;
}

.students-info h4 {
  color: rgb(100, 100, 100);
}

.students-info p {
  font-size: 25px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.back-btn {
  text-align: right;
}

//スマホ用
@media screen and (max-width:480px) {

  .student-top {
    text-align: center;
  }
  .student-top h1 {
    font-size: 20px;
  }
  .image-top img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;  
   }   
  .students-info h4 {
    font-size: 15px;
  }
  .students-info p {
    font-size: 20px;
  }
  .back-btn a {
    font-size: 13px;
  }
  
}